* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

header {
    display: flex;
    flex-direction: column;
    height: 70ch;
    width: 5%;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
footer{
    display: none;
}

.nav1,
.nav2,
.nav3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.nav img:hover {
    padding: 15%;
    background-color: #4935ff;
    color: white;
    border-radius: 5px;
}

.nav1 {
    height: 13%;
}

.nav2 {
    height: 25%;
}

.nav3 {
    height: 10%;
}

.icon {
    width: 20px;
}

.logo {
    width: 30px;
    /* margin-top: 20px; */
    /* margin-left: -3px; */
}

.left {
    display: flex;
    flex-direction: column;
    /* color: red; */
    background-color: whitesmoke;
    height: 75ch;
    width: 25%;
}

.l1 {
    display: flex;
    /* margin: auto; */
    height: 16ch;
    align-items: center;
    margin-left: 20%;
    margin-bottom: 0;
    margin-top: 0;
}

.l1 img {
    border-radius: 50%;
    width: 55px;
    height: 55px;
}

.txt {
    margin-left: 5%;
}

.l2 {
    height: 30ch;
    /* background-color: blue; */
}

.l2 div {
    margin-bottom: 3%;
}

.l3 {
    height: 30ch;
    margin-right: 16%;
    margin-left: 20%;
    /* background-color: green; */
}

.l3 div {
    margin-top: 3%;
    margin-bottom: 3%;
}

.mgn {
    padding-left: 20%;
}

#select {
    margin-left: 20%;
    background-color: #4935ff;
    color: white;
    font-size: 0.8rem;
    border-radius: 5px;
    padding: 8px;
}

#select option {
    color: white;
}

.mid {
    display: flex;
    /* color: red; */
    /* background-color: pink; */
    height: 75ch;
    flex-direction: column;
    width: 50%;
    /* padding: 5%; */
}

.m1 {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 22%;
    margin: 6% 8% 0 8%;
}

.m1txt {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.m1rows {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.m1blocks {
    display: flex;
    justify-content: space-between;
}

.m1b {
    border-bottom: 2px solid #4935ff;
    padding-bottom: 2%;
}

.m2 {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 25%;
    margin: 4% 8% 0 8%;
}

.m3 {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 22%;
    margin: 10% 8% 0 8%;
}

progress {
    -webkit-appearance: none;
    appearance: none;
}

::-moz-progress-bar {
    visibility: hidden;
}

::-ms-fill {
    display: none;
}

::-webkit-progress-inner-element,
::-webkit-progress-bar,
::-webkit-progress-value {
    display: none;
}

.doughnut {
    position: relative;
    width: 80px;
    height: 80px;
}

progress {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 50%;
}

.doughnut1 progress {
    background: conic-gradient(#22d6aa 40%, lightgrey 0);
}

.doughnut2 progress {
    background: conic-gradient(#22d6aa 40%, lightgrey 0);
}

.doughnut3 progress {
    background: conic-gradient(#22d6aa 40%, lightgrey 0);
}

.doughnut::before {
    content: attr(data-value) "%";
    position: absolute;
    background: white;
    border-radius: 50%;
    top: 8px;
    right: 8px;
    bottom: 8px;
    left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.pies {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 4%;
}

.pietxt {
    font-size: 0.8rem;
    display: flex;
    width: 25%;
    flex-direction: column;
    height: 90%;
    justify-content: space-between;
}

.d1,
.d2,
.d3 {
    height: 105%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.dss {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.right {
    display: flex;
    /* color: red; */
    flex-direction: column;
    /* background-color: ; */
    height: 75ch;
    width: 20%;
    align-items: center;
}

.rbox1 {
    display: flex;
    background-color: whitesmoke;
    margin-top: 8ch;
    width: 22ch;
    height: 30ch;
    border-radius: 10px;
    flex-direction: column;
    /* align-items: center; */
}

.bars {
    margin: 5% 10%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bar {
    display: flex;
    align-items: center;
}

.bfixed {
    display: flex;
    width: 80%;
    align-items: center;
    height: 15px;
}

.b1 {
    width: 60%;
    height: 3px;
    background-color: #85afff;
}

.b2 {
    width: 60%;
    height: 3px;
    background-color: #85afff;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
}

#num1 {
    width: 25px;
    height: 20px;
    margin-left: 5px;
    background-color: white;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#num2 {
    width: 25px;
    height: 20px;
    margin-left: 5px;
    background-color: white;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.up {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    margin: auto;
    margin-top: 10px;
    width: 18ch;
    /* height: 15ch; */
    margin-bottom: 0;
}

.down {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    margin: auto;
    width: 18ch;
    height: 15ch;
    margin-top: 0;
    align-items: center;
}

.down1,
.down2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.rbox2 {
    display: flex;
    /* align-items: center; */
    /* background-color: whitesmoke; */
    margin-top: 3ch;
    width: 22ch;
    height: 12ch;
    /* padding: 5px; */
    border-left: 4px #4935ff solid;
    flex-direction: column;
    /* border-radius: 10px; */
}


.btn {
    background-color: #4935ff;
    color: white;
    border-radius: 5px;
    width: 100%;
    margin-top: 2ch;
}

@media only screen and (max-width:500px) {
    body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left {
        width: 75% !important;
        height: 70ch !important;
        margin: 7% 0 15% 0;
        border-radius: 20px;
        align-items: center;
    }

    header {
        display: none;
        /* flex-direction: row;
        position: sticky;
        bottom: 0;
        left: 0;
        height: 5%;
        width: 100%;
        right: 0;
        z-index: 5; */
    }
    footer{
        /* display: flex; */
        /* justify-content: space-evenly; */
        display: block;
        overflow: hidden;
        bottom: 0;
        position: fixed;
        width: 100%;
        text-align: center;
        background-color: white;
        padding: 10px 0;
    }
    footer img{
        margin: 0 5% 0 5%;
    }
    .space{
        width: 100%;
        height: 50px;
    }

    .l1 {
        width: 70%;
        justify-content: center;
        margin: 0 15% 0 15% !important;
    }

    .l2 {
        width: 70% !important;
        height: 25ch;
        margin: 0 15% 0 15% !important;
    }

    .rows {
        display: flex;
        justify-content: space-between;
    }

    .rowsfont {
        font-size: 0.7rem !important;
    }

    .bigfont {
        font-size: 2rem !important;
    }

    .l2 span {
        padding: 0;
    }

    .nav1,
    .nav2,
    .nav3 {
        flex-direction: row !important;
    }

    .l1 img {
        width: 80px !important;
        height: 80px !important;
    }

    .txt {
        font-size: 1.5rem;
        /* text-align: center; */
    }

    .txt span:last-child {
        font-size: 0.8rem;
    }

    #select {
        margin: 0 !important;
        width: 100%;
        text-align: center;
    }

    .l3 {
        margin: 0;
    }

    .m1 {
        height: 20%;
        margin: 0;
    }

    .mid {
        width: 100%;
        align-items: center;
        /* margin: 0 15% 0 15%; */
        height: 140ch;
        justify-content: space-between;
    }

    .m1blocks {
        flex-direction: column !important;
    }

    .m1rows {
        display: flex;
        justify-content: space-between;
        margin-top: 3%;
        width: 100%;
    }

    .m2 {
        height: 40%;
        margin: 0;
        /* margin-top: 20%; */
    }

    .m2 h4 {
        padding-bottom: 5%;
        font-size: 1.5rem;
    }

    .m3 {
        height: 28%;
        margin: 0;
        /* margin-top: 30%; */
    }

    .pies {
        flex-direction: column;
        height: 65%;
        margin-top: 10%;
        /* justify-content: flex-start; */
        /* align-items: flex-start; */
    }

    .pietxt {
        width: 100%;
        height: 45%;
        justify-content: none;
    }

    .dss {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .right {
        width: 100%;
        height: 100%;
        margin-bottom: 50px;
    }

    .rbox1 {
        margin: 0;
        width: 100%;
        border-radius: 30px;
    }

    .rbox2 {
        /* visibility: hidden; */
        display: none;
    }

    .up {
        width: 80%;
        /* margin: 0 10% 0 10%; */
    }

    .up h3 {
        font-size: 20px !important;
        width: 100%;
    }

    .down {
        width: 100%;
        height: 30%;
    }

    .down a {
        display: none;
    }

    .btn {
        font-size: 1.2rem;
        /* height: 100%; */
        padding: 10px;
        width: 100%;
    }

    .bar {
        justify-content: space-between;
    }

    .bars span {
        font-size: 15px !important;
    }

    .down span {
        font-size: 15px !important;
    }

    .down {
        width: 100%;
    }

    .down1,
    .down2 {
        width: 80%;
    }

    #num1 {
        width: 35px;
        height: 30px;
        font-size: 1rem;
    }

    #num2 {
        width: 35px;
        height: 30px;
        font-size: 1rem;
    }

}